@import '../../variables/variables.scss';

.footerLink {
    margin: 7px 0;

    a:link,
    a:visited {
        font-family: $font-dmsans;
        font-weight: 400;
        font-size: 14px;
        line-height: 206.5%;
        color: #fff;
        text-decoration: none;
        transition: color ease-in 0.6s;
    }

    a:hover,
    a:active {
        color: #bbb;
    }

    span {
        margin-left: 4px;
    }
}